<%- include('header') %>

<div>

    <div>
        
        <br>

        <form action = "/ordonnance/ajouterOrdonnance" method = "POST" enctype = "application/x-www-form-urlencoded" id = "formulaire">

            <div>

                <label for = "medecin"> Médecin </label>
                <select name = "medecin" id = "medecin" required>

                    <% dataMedecin.forEach(function(data){ %>

                        <option value = "<%= data.Medecin_Id %>"> <%= data.Medecin_Nom %> </option>

                    <%})%>
                
                </select>

                <label for = "patient"> Patient </label>
                <select name = "patient" id = "patient" required>

                    <% dataPatient.forEach(function(data){ %>

                        <option value = "<%= data.Patient_Id %>"> <%= data.Patient_Nom %> </option>

                    <%})%>
                
                </select>

                <label for = "maladie"> Maladie </label>
                <select name = "maladie" id = "maladie" required>

                    <% dataMaladie.forEach(function(data){ %>

                        <option value = "<%= data.Maladie_Id %>"> <%= data.Maladie_Nom %> </option>

                    <%})%>
                
                </select>
                
                <label for = "date"> Date : </label>
                <input type = "text" name = "date" id = "date" required>

            </div>

            <br>

        </form>

        <button onclick = "verification()">Envoyer</button>

        <br>

    </div>

    <script>

        function verification(){
            
            let regex = /^\d{4}[\/]?((((0[13578])|(1[02]))[\/]?(([0-2][0-9])|(3[01])))|(((0[469])|(11))[\/]?(([0-2][0-9])|(30)))|(02[\/]?[0-2][0-9]))$/
            let submit = document.getElementById('formulaire')
            let date = document.getElementById('date').value

            if(regex.test(date)){

                submit.submit()

            }else{

                alert("La date doit être au format YYYY/MM/DD")
            }

            
        }
            
    </script>

    <br>

</div>

<%- include('footer') %>