<%- include('header') %>

    <div>

        <ul>
            <% dataMaladie.forEach(function(data){ %>

                <li>

                    <div><input type='text' value='<%= data.Maladie_Id %>' disabled hidden></div>
                    <div>Nom : <%= data.Maladie_Nom %></div>

                    <div>

                        <a href="http://localhost:3000/maladie/supprimerMaladie/<%=data.Maladie_Id%>"> ❌ Supprimer </a>
                        <a href="http://localhost:3000/maladie/modifierMaladie/<%=data.Maladie_Id%>"> ⚙ Modifier </a>

                    </div>

                    <div>----------------------------------------------</div>

                </li>

                <% })%>

        </ul>
        <div><a href="http://localhost:3000/maladie/ajouter"> Ajouter une maladie </a></div>

    </div>

    <%- include('footer') %>