<%- include('header') %>

    <div>

        <ul>
            <% dataMaladie.forEach(function(data){ %>

                <li>

                    <div>Id : <%= data.Maladie_Id %>
                    </div>
                    <div>Nom : <%= data.Maladie_Nom %>
                    </div>

                    <div>

                        <a href="http://localhost:3000/maladie/supprimerMaladie/<%=data.Maladie_Id%>"> &#10006;
                            Supprimer </a> |
                        <a href="http://localhost:3000/maladie/modifierMaladie/<%=data.Maladie_Id%>"> &#9998; Modifier
                        </a>

                    </div>

                    <div>----------------------------------------------</div>

                </li>

                <% })%>

        </ul>
        <div><a href="http://localhost:3000/maladie/ajouter"> Ajouter une maladie </a></div>

    </div>

    <%- include('footer') %>