<%- include('header') %>

    <div>

        <ul>
            <% dataMedecin.forEach(function(data){ %>

                <li>

                    <div><input type='text' value='<%= data.Medecin_Id %>' disabled hidden> </div>
                    <div>Nom : <%= data.Medecin_Nom %></div>
                    <div>Prenom : <%= data.Medecin_Prenom %></div>
                    <div>Telephone : <%= data.Medecin_NumeroTelephone %></div>
                    <div>Diplome : <%= data.Medecin_IdDiplome %></div>

                    <div>

                        <a href="http://localhost:3000/medecin/supprimerMedecin/<%=data.Medecin_Id%>"> ❌ Supprimer</a> |
                        <a href="http://localhost:3000/medecin/modifierMedecin/<%=data.Medecin_Id%>"> ⚙ Modifier </a>

                    </div>

                    <div>----------------------------------------------</div>

                </li>

                <% })%>

        </ul>

        <div><a href="http://localhost:3000/medecin/ajouter"> Ajouter un medecin </a></div>

    </div>

    <%- include('footer') %>