<%- include('header') %>

<div>

    <ul> <% dataMedicament.forEach(function(data){ %>
        
        <li>
            
            <div>Id : <%= data.Medicament_Id %> </div>
            <div>Nom : <%= data.Medicament_Nom %> </div>
            <div>Fabricant : <%= data.Medicament_Fabriquant %> </div>
            <div>Stock : <%= data.Medicament_Stock %> </div>
            <div>Prix : <%= data.Medicament_Prix %> </div>

            <div>

                <a href="http://localhost:3000/medicament/supprimerMedicament/<%=data.Medicament_Id%>"> ❌ Supprimer</a> |
                <a href="http://localhost:3000/medicament/modifierMedicament/<%=data.Medicament_Id%>"> ⚙ Modifier </a>

            </div>

            <div>----------------------------------------------</div>

        </li>

        <% })%>

    </ul>
    
    <div><a href="http://localhost:3000/medicament/ajouter"> Ajouter un medicament </a></div>

</div>

<%- include('footer') %>