<%- include('header') %>

<div>

    <div <% dataPatient.forEach(function(data){ %>>
        
        <br>

        <form action = "/patient/modifierPatient/<%= data.Patient_Id %>" method = "POST" enctype = "application/x-www-form-urlencoded">

            <div>

                <label for = "nom"> Nom : </label>
                <input type = "text" name = "nom" id = "nom" value = <%= data.Patient_Nom %>>

                <label for = "prenom"> Prénom : </label>
                <input type = "text" name = "prenom" id = "prenom" value = <%= data.Patient_Prenom %>>

                <label for = "dateNaissance"> Date de naissance : </label>
                <input type = "text" name = "dateNaissance" id = "dateNaissance" value = <%= data.Patient_DateNaissance.toLocaleDateString() %>>

                <label for = "numeroSecurite"> Numéro de Sécurité Sociale : </label>
                <input type = "text" name = "numeroSecurite" id = "numeroSecurite" value = <%= data.Patient_NumeroSecurite %>>

                <label for = "numero"> Numéro de téléphone : </label>
                <input type = "text" name = "numero" id = "numero" value = <%= data.Patient_NumeroTelephone %>>
                <br><br>
                <label for = "mutuelle"> Mutuelle </label>
                <select name = "mutuelle" id = "mutuelle">

                    <option value = <%= data.Patient_IdMutuelle %>> <%= dataMutuelle[data.Patient_IdMutuelle - 1].Mutuelle_Nom %> (Actuelle) </option>
                    
                    <% dataMutuelle.forEach(function(data){ %>

                        <option value = "<%= data.Mutuelle_Id %>"> <%= data.Mutuelle_Nom %> </option>

                    <%})%>

                </select>

            </div>

            <br>
            <button class="btn btn-primary" type = "submit"><div>Envoyer</div></button>
    
        </form>

        <br>

    </div  <% })%>>

</div>

