<%- include('header') %>

<div>

    <div <% dataMedecin.forEach(function(data){ %>>
        
        <br>

        <form action = "/medecin/modifierMedecin/<%= data.Medecin_Id %>" method = "POST" enctype = "application/x-www-form-urlencoded" id = 'formulaire'>

            <div>

                <label for = "nom"> Nom : </label>
                <input type = "text" name = "nom" id = "nom" value = <%= data.Medecin_Nom %>>

                <label for = "prenom"> Prénom : </label>
                <input type = "text" name = "prenom" id = "prenom" value = <%= data.Medecin_Prenom %>>

                <label for = "numero"> Numéro de téléphone : </label>
                <input type = "text" name = "numero" id = "numero" value = <%= data.Medecin_NumeroTelephone %>>

                <label for = "diplome"> Diplôme </label>
                <select name = "diplome" id = "diplome">

                    <option value = <%= data.Medecin_IdDiplome %>><%= data.Medecin_IdDiplome %></option>
                    <option value = "1"> Valide </option>
                    <option value = "2"> Invalide </option>
                
                </select>
    
            </div>

            <br>
        
        </form>

        <button onclick = "verification()">Envoyer</button>

        <br>

    </div  <% })%>>

    <script>

        function verification(){
            
            let nom = document.getElementById('nom')
            let prenom = document.getElementById('prenom')
            let numero = document.getElementById('numero')
            let submit = document.getElementById('formulaire')

            let testNombre = /^[0-9]{10,10}$/
            let testChaine = /^[a-zA-Zàâéêèëîïôöûüç]{2,40}$/

            let message = ""

            //Tests unitaires
            if(testNombre.test(numero.value) && testChaine.test(prenom.value) && testChaine.test(nom.value)){

                submit.submit()
            
            }else{

                if(!testNombre.test(numero.value)){

                    numero.focus()
                    numero.style.background = "red"

                    if(numero.value == ""){
                          
                        message += "Veuillez entrer un numéro de téléphone.\n "
                    
                    }else{
                        
                        message += "Le numéro de téléphone ne doit comporter que 10 chiffres.\n "

                    }

                }else if(!testChaine.test(prenom.value)){

                    prenom.focus()
                    prenom.style.background = "red"

                    if(prenom.value == ""){
                          
                        message += "Veuillez entrer un prénom.\n "
                      
                    }else{
                          
                        message += "Le prénom ne doit pas comporter de caractères spéciaux et ne doit pas dépasser 40 caractères.\n "

                    }

                }else{

                    nom.focus()
                    nom.style.background = "red"

                    if(nom.value == ""){
                          
                        message += "Veuillez entrer un nom.\n "
                        
                    }else{
                            
                        message += "Le nom ne doit pas comporter de caractères spéciaux et ne doit pas dépasser 40 caractères.\n "
  
                    }
                }

                alert(message)
            }  
        } 

    </script>

</div>

<%- include('footer') %>