<%- include('header') %>

<div>

    <ul> <% dataMutuelle.forEach(function(data){ %>
        
        <li>
            
            <div><input type='text' value='<%= data.Mutuelle_Id %>' disabled hidden></div>
            <div>Nom : <%= data.Mutuelle_Nom %> </div>
            <div>Taux : <%= data.Mutuelle_Taux %> </div>

            <div>

                <a href="http://localhost:3000/mutuelle/supprimerMutuelle/<%=data.Mutuelle_Id%>"> ❌ Supprimer </a>
                <a href="http://localhost:3000/mutuelle/modifierMutuelle/<%=data.Mutuelle_Id%>"> ⚙ Modifier </a>

            </div>

            <div>----------------------------------------------</div>

        </li>

        <% })%>

    </ul>

    <div><a href="http://localhost:3000/mutuelle/ajouter"> Ajouter une mutuelle </a></div>

</div>

<%- include('footer') %>