<%- include('header') %>

<div>

    <ul> <% dataOrdonnance.forEach(function(data){ %>
        
        <li>
            
            <div>Ordonnance : <%= data.Ordonnance_Id %> </div>
            <div>Medecin : <%= data.Ordonnance_IdMedecin %> </div>
            <div>Patient : <%= data.Ordonnance_IdPatient %> </div>
            <div>Maladie : <%= data.Ordonnance_IdMaladie %> </div>
            <div>Date : <%= data.Ordonnance_Date %> </div>

        </li>

        <% })%>

    </ul>

</div>

<%- include('footer') %>