<%- include('header') %>

<div>

    <ul> <% dataOrdonnance.forEach(function(data){ %>
        
        <li>
            
            <div><input type='text' value='<%= data.Ordonnance_Id %>' disabled hidden></div>
            <div>Medecin : <%= data.Ordonnance_IdMedecin %> </div>
            <div>Patient : <%= data.Ordonnance_IdPatient %> </div>
            <div>Maladie : <%= data.Ordonnance_IdMaladie %> </div>
            <div>Date : <%= data.Ordonnance_Date %> </div>

            <div>

                <a href="http://localhost:3000/ordonnance/supprimerOrdonnance/<%=data.Ordonnance_Id%>"> ❌ Supprimer</a> |
                <a href="http://localhost:3000/ordonnance/modifierOrdonnance/<%=data.Ordonnance_Id%>"> ⚙ Modifier </a>
    
            </div>
            
            <div>----------------------------------------------</div>

        </li>

        <% })%>

    </ul>

    <div><a href="http://localhost:3000/ordonnance/ajouter"> Ajouter une ordonnance </a></div>

</div>

<%- include('footer') %>