<%- include('header') %>

<div>

    <ul> <% dataPatient.forEach(function(data){ %>
        
        <li>
            
            <div><input type='text' value='<%= data.Patient_Id %>' disabled hidden></div>
            <div>Nom : <%= data.Patient_Nom %> </div>
            <div>Prenom : <%= data.Patient_Prenom %> </div>
            <div>Date de naissance : <%= data.Patient_DateNaissance.toLocaleDateString() %> </div>
            <div>Sécurité Sociale : <%= data.Patient_NumeroSecurite %> </div>
            <div>Téléphone : <%= data.Patient_NumeroTelephone %> </div>
            <div>Mutuelle : <%= data.Patient_IdMutuelle %> </div>

            <div>

                <a href="http://localhost:3000/patient/supprimerPatient/<%=data.Patient_Id%>"> ❌ Supprimer</a> |
                <a href="http://localhost:3000/patient/modifierPatient/<%=data.Patient_Id%>"> ⚙ Modifier </a>

            </div>

            <div>----------------------------------------------</div>

        </li>

        <% })%>

    </ul>

    <div><a href="http://localhost:3000/patient/ajouter"> Ajouter un patient </a></div>

</div>

<%- include('footer') %>